{% extends 'base.html.twig' %}
    {% block body %}
        {% include 'components/nav.html.twig' %}
        <div class="bg-white bg-opacity-75">
            <div class="container container-fluid">
                    {% for message in app.flashes('error') %}
                                <div class="alert alert-danger alert-dismissible mt-5 mb-5" role="alert"><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="alert"></button><span><strong>Error</strong> {{ message }}</span></div>
                    {% endfor %}
                    {% for message in app.flashes('warning') %}
                                <div class="alert alert-warning alert-dismissible mt-5 mb-5" role="alert"><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="alert"></button><span><strong>Warning</strong> {{ message }}</span></div>
                    {% endfor %}
                    {% for message in app.flashes('success') %}
                                <div class="alert alert-success alert-dismissible mt-5 mb-5" role="alert"><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="alert"></button><span><strong>Alert</strong> text.</span></div>
                    {% endfor %}
                <a class="btn btn-success w-75 justify-content-center container-fluid d-flex mt-3 mb-3" href="#"
                   type="link">
                    <i class="fa-solid fa-plus text-center d-xl-flex align-content-start align-self-center justify-content-xl-center me-2"></i>
                    ADD </a>
                <div class="table-responsive w-75 justify-content-center d-flex container-fluid">
                    <table class="table text-center">
                        <thead>
                        <tr>
                            <th>Icon</th>
                            <th>Website Name</th>
                            <th>Website Url</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if profiles %}
                            {% for profile in profiles %}
                                <tr>
                                    <td>
                                        <i class="{{ profile.iconClass }} text-center d-flex justify-content-center align-content-center"></i>
                                    </td>
                                    <td>{{ profile.name }}</td>
                                    <td>
                                        <a href="{{ profile.url }}" target="_blank">{{ profile.url }}</a>
                                    </td>
                                    <td class="d-flex justify-content-center">
                                        <div class="btn-group" role="group">
                                            <a class="btn btn-warning" type="button" href="{{ path('admin_edit_social',{id: profile.id} ) }}">Edit</a>
                                            <button class="btn btn-danger ms-1" type="button">Delete</button>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endblock %}